<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Halant&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/profile.css' %}"> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><span class="logo">GoodEarth</span></li>
                        <li style="float:right"><a href="../../logout">Logout</a></li>
                        <li style="float:right"><a href="../market/cart">Cart</a></li>
                        <li style="float:right"><a href="../community">Message Board</a></li>
                        <li style="float:right"><a href="../../profile/{{ user.id }}">Profile</a></li>
                        <li style="float:right"><a href="../../market">MarketPlace</a></li>
                        <li style="float:right"><a href="../../main"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg></a></li>
                    </ul>
                </div>
            </div>

            <div class="background">
                <div class="container all">
                    <div class="row top">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h3>Update your info</h3>
                        </div>
                        <div class="col-sm-4">
                            <h3>Recent activity</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 first">
                            <h3>Welcome Back, {{ user.first_name }}</h3>
                            <div class="image"><img class="profile" src="{{ user.image.url }}" alt=""></div>
                        </div>

                        <div class="col-sm-4">
                            <form class="form" action="../../update/{{ user.id }}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if messages %}
                                    <ul class="messages">    
                                        {% for message in messages %}    
                                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <label for="first_name">First name:</label>
                                <input type="text" class="form-control" name='first_name' value="{{ user.first_name }}">
                                <label for="last_name">Last name:</label>
                                <input type="text" class="form-control" name='last_name' value="{{ user.last_name }}">
                                <label for="email">Email address:</label>
                                <input type="text" class="form-control" name='email' value="{{ user.email }}">
                                <label for="image">Profile picture:</label>
                                <input type="file" alt=" " class="form-control" name="image" accept="image/*"><br>
                                <button type="submit" class="btn btn-primary px-4 float-right">Update</button>
                            </form>
                        </div>

                        <div class="col-sm-4 scroll">
                            <div class="activities">
                                {% for log in request.session.activities %}
                                        <p>{{ log }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
